<div class='container'>
  <% @restaurants.each do |restaurant| %>
    <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
    <h5><%= restaurant.average %>/5</h5>
    <p><%= restaurant.address %></p>
  <% end %>
</div>

<%= link_to 'Add a Restaurant', new_restaurant_path %>

